<%- include('./partials/header')%>

<div class="nav-bar-time-line-2"><%- include('./partials/navigation')%></div>
<div class="homepage-container-4">
  <div class="container">
    <form
      action="/uploadimage/<%= user._id%>"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="profile-image-container">
        <img
          height="80"
          class="preview"
          onclick="changeImage()"
          src="/assets/<%= user.avatar %>"
          alt="<%= user.avatar%>"
        />
        <h3>
          <%=user.name%>
          <br />
          <span>
            <button class="">edit image</button>
          </span>
        </h3>
      </div>

      <input name="oldavatar" type="hidden" value="<%= user.avatar %>" />
      <input name="avatar" style="display: none" type="file" />
      <button style="display: none" class="imgbutton">Upload Image</button>
    </form>
    <div class="line"></div>
    <form action="/profile/<%= user._id %>" method="post">
      <div class="input-row">
        <label for="name">name</label>
        <input
          type="text"
          placeholder="John Doe"
          name="name"
          value="<%= user.name%>"
        />
      </div>

      <div class="input-row">
        <label for="name">username</label>
        <input
          type="text"
          placeholder="@johndoe"
          name="username"
          value="<%= user.username%>"
        />
      </div>

      <div class="input-row">
        <label for="name">email</label>
        <input
          type="email"
          placeholder="example@john.doe"
          name="email"
          value="<%= user.email%>"
        />
      </div>
      <div class="input-row">
        <label for="name">city</label>
        <input
          type="text"
          placeholder="where do you live ?"
          name="city"
          value="<%= user.city%>"
        />
      </div>

      <!-- <div class="profile-gender">
      <input <%= user.gender === 'male' ? 'checked' : '' %> type="radio"
      name="gender" value="male" /> Male <input <%= user.gender === 'female' ?
      'checked' : '' %> type="radio" name="gender" value="female" /> Female
    </div> -->
      <div class="input-row">
        <label for="name">phone no</label>
        <input
          type="number"
          placeholder="contact"
          name="phone"
          value="<%= user.phone%>"
        />
      </div>
      <div class="input-row">
        <label for="name">bio</label>
        <textarea
          type="text"
          placeholder="write about yourself..."
          name="about"
          rows="4"
          value="<%= user.about%>"
        ></textarea>
      </div>

      <button>Update Details</button>
      <!-- <p>Have an account? <a href="/">Sign in</a></p> -->
    </form>
  </div>
</div>

<script>
  function changeImage() {
    var preview = document.querySelector(".preview");
    var ImageButton = document.querySelector(".imgbutton");
    var input = document.querySelector("input[type='file']");
    preview.addEventListener("click", function () {
      input.click();
    });

    input.addEventListener("change", function (e) {
      // console.log(e.target.files[0]);
      // console.log(input.files[0]);
      const file = input.files[0];
      if (file) {
        ImageButton.style.display = "initial";
        preview.src = URL.createObjectURL(file);
      }
    });
  }
</script>
<%- include('./partials/footer')%>
